<% content_for :title, "Editing banner" %>

<h1>Editar Banner</h1>

<%= render "form", banner: @banner %>

<br>

<div>
  <%#= link_to "Show this banner", admin_banner_path(@banner) %>
  <%= link_to "Voltar", admin_banners_path %>
</div>
