<p style="color: green"><%= notice %></p>

<% content_for :title, "Basics" %>

<h1>Dados Básicos</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Endereço</th>
      <th scope="col">Bairro</th>
      <th scope="col">Cidade</th>
      <th scope="col">Estado</th>
      <th scope="col">Telefone</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @basics.each do |basic| %>
      <%= render basic %>
    <% end %>
  </tbody>
</table>
