<p style="color: green"><%= notice %></p>

<% content_for :title, "Banners" %>

<h1>Banner</h1>

<div id="banners">
  <% @banners.each do |banner| %>
  <% if banner.title.blank? %>
    <%= link_to "Novo Banner", new_banner_path, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to "Editar Banner", edit_banner_path(banner), class: 'btn btn-primary' %>
  <% end %>
    <%= render banner %>
  <% end %>
</div>
