<div id="<%= dom_id about %>">
  <p>
    <strong>Mission:</strong>
    <%= about.mission %>
  </p>

  <p>
    <strong>Vision:</strong>
    <%= about.vision %>
  </p>

  <p>
    <strong>Values:</strong>
    <%= about.values %>
  </p>

</div>
