<p style="color: green"><%= notice %></p>

<% content_for :title, "Abouts" %>

<h1>Sobre nós</h1>

<div id="abouts">
  <% @abouts.each do |about| %>
    <%= render about %>
    <p>
      <%= link_to "Edit this about", edit_about_path(about) %>
    </p>
  <% end %>
</div>

<%= link_to "New about", new_about_path %>
