<div class="contacts-info-container">
  <strong><%= basic.name %></strong>
  <div class="social">
    <div class="instagram">
      <%= embedded_svg "instagram.svg" %>
    </div>
  </div>
  <div class="tel">
    <%= basic.phone %>
  </div>
</div>
