<nav class="navbar">
  <div class="logo">
    <% if logo.logotype.attached? %>
      <%= image_tag logo.logotype %>
    <% end %>
  </div>

  <button class="menu-toggle" id="open-menu">
    ☰
  </button>

  <ul class="nav-links" id="nav-links">
    <li class="btn-close-menu" id="close-menu">
      x
    </li>
    <li class="close-other-menu"><%= link_to 'Sobre Nós', '#about-us' %></li>
    <li class="close-other-menu"><%= link_to 'Produtos', '#products' %></li>
    <li class="close-other-menu"><%= link_to 'Contato', '#contacts'  %></li>
  </ul>
</nav>
