<nav class="navbar">
  <div class="logo">Meu Site</div>

  <button class="menu-toggle" id="menu-toggle">
    ☰
  </button>

  <ul class="nav-links" id="nav-links">
    <li><%= link_to 'Sobre Nós', '#about-us' %></li>
    <li><%= link_to 'Produtos', '#products' %></li>
    <li><%= link_to 'Contato', '#contacts'  %></li>
  </ul>
</nav>
