<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Produtos</h1>

<%= link_to "Novo Produto", new_admin_product_path, class: 'btn btn-primary' %>


<table class="table table-hover table-product">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </tbody>
</table>
