
@import "./reset.css";
@import "./variables.css";
@import "./form.css";
@import "./about.css";

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: var(--color-white-bis);
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: var(--color-gray-darker);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.hero {
  background-color: white;
  border: 1px solid var(--color-gray-lighter);
  border-radius: 3px;
  padding: 2rem;
  width: 400px;
}

.hero .logo {
  display: flex;
  justify-content: center;
}

.hero img {
  width: 40%;
}

.hero h2 {
  color: var(--color-gray-dark);
  font-weight: normal;
  text-align: center;
}

.hero .help-links {
  margin-top: 2rem;
  border-top: 1px solid var(--color-gray-lighter);
  padding-top: 1rem;
  text-align: center;
}

.hero .help-links a {
  display: block;
  margin-top: 0.25rem;
  text-decoration: none;
  color: var(--color-blue);
  font-weight: bold;
  font-size: 14px;
}

/* admin-container */
.admin-container {
  display: flex;
  flex-direction: column;
}

.admin-container .content {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.admin-container .content .title{
  font-size: 1.2rem;
  font-weight: bold;
}

.admin-container .content .text {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.admin-container .content .logo img {
  width: 200px;
  height: auto;
}

/* admin */
.table-product tbody tr td img {
  width: 50px;
  height: auto;
}

.logo-container img {
  width: 100px;
  height: auto;
}

  .center {
    display: flex;
    margin: 7px auto 10px !important;
  }

  .title-bar {
    width: 100px;
    height: 5px;
    background-color: rgb(241, 17, 17);
    margin: 7px 0 10px 0;
  }

  /* banner */
  .banner-container img {
    width: 100%;
  }

  /* about us */
  .about-us-container {
    width: 100vw;
    display: flex;
  }

  .about-us-container .about-us {
    padding: 30px;
    margin: 30px;
    background-color: rgba(255, 187, 0, 0.959);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 30px;
    text-align: justify;
    height: fit-content;
  }

  .about-us h3, .values .values-content h3 {
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 2rem;
  }

  .about-us-container .values {
    padding: 30px;
  }

  .about-us-container .values-content {
    margin-bottom: 20px;
    line-height: 30px;
    text-align: justify;
  }

  .products-container {
    display: flex;
    flex-direction: column;
    margin: 100px 30px;
  }

  .products-container h2, .contacts-container h2 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  .products-container .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .products-container .content .product {
    display: flex;
    flex-direction: column;
  }

  .products-container .content .product img{
    width: 250px;
    height: auto;
  }

  .contacts-container {
    margin: 100px 0;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
  }

  .contacts-container .content {
    display: flex;
  }

  .contacts-container .content .address, .contacts-container .content .form {
    margin-top: 30px;
    width: -moz-available;
  }

  .contacts-container .content .address{
    padding: 30px;
  }

  .contacts-container .address {
    background-color:  rgba(255, 187, 0, 0.959);
    margin: 30px;
    padding: 25px;
    border-radius: 8px;
  }

  .contacts-container .content .address strong{
    font-size: 1.5rem;
    line-height: 30px;
  }

  .contacts-container .content .address p {
    line-height: 22px;
  }

  .contacts-container .content .form .field {
    margin-bottom: 15px;
  }

  .contacts-container .content .form .action-buttom input[type="submit"]{
    width: 100%;
    padding: 10px 0;
    background-color: rgb(241, 17, 17);
    border: 1px solid rgb(241, 17, 17);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }

  .contacts-container .content .form .action-buttom input[type="submit"]:hover{
    width: 100%;
    padding: 10px 0;
    background-color: rgb(230, 11, 11);
    border: 1px solid rgb(230, 11, 11);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }



@media screen and (max-width: 862px) {
  .title-bar {
    width: 100px;
    height: 5px;
    background-color: rgb(241, 17, 17);
  }

  .about-us-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .about-us-container .about-us {
    padding: 30px;
    margin: 0;
    background-color: rgba(255, 187, 0, 0.959);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 30px;
    text-align: justify;
  }

  .about-us h3, .values .values-content h3 {
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 2rem;
  }

  .about-us-container .values {
    padding: 30px;
  }

  .about-us-container .values-content {
    margin-bottom: 20px;
    line-height: 30px;
    text-align: justify;
  }

  .products-container {
    display: flex;
    flex-direction: column;
    margin: 100px 0;
  }

  .products-container h2, .contacts-container h2 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  .products-container .content .product {
    margin: 0 30px 30px;
  }

  .products-container .content .product img {
    width: 100%;
  }

  .contacts-container .content {
    display: flex;
    flex-direction: column;
  }

  .contacts-container .content .form {
    width: 100%;
  }

  .contacts-container .content .address, .contacts-container .content .form {
    margin-top: 30px;
  }

  .contacts-container .address {
    padding: 30px;
    margin: 0;
    background-color: rgba(255, 187, 0, 0.959);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 22px;
    text-align: justify;
  }

  .contacts-container .content .address strong{
    font-size: 1.5rem;
    line-height: 30px;
  }

  .contacts-container .content .address p {
    line-height: 22px;
  }

  .contacts-container .content .form .field {
    margin-bottom: 15px;
  }

}
