<% content_for :title, "Dashboard" %>

<div class="alert alert-primary" role="alert">
  <% if user_signed_in? %>
    <h3>Olá, <%= current_user.name %>!</h3>
  <% end %>
</div>

<h1>Contatos</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col">Mensagem</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <%= render 'table_row', contact: contact %>
    <% end %>
  </tbody>
</table>
